.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primefont: 'Raleway', sans-serif;
  --secfont: 'Open Sans', sans-serif;
}


/* Contact Form  */
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  font-family: var(--primefont);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.10);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  /* background:url('https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed; */
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.72);
  height: 72vh;

  height: 80vh;
  display: grid;
  grid-template-rows: auto 420px;
} 

header h1 {
  font-weight: 900;
  font-size: 3.5em;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
  margin-bottom: 150px; 
  background-color: rgba(0, 0, 0, 0.35);
  padding: 15px;
  opacity: .8;
}

.section {
  font-family: var(--secfont);
  padding: 30px;
  text-align: center;
  height: 800px;
  background-color: rgb(6, 15, 36);
  color: rgb(29, 27, 27);
} 


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.72);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav p {
  color: white;
}
#home {
  display: inline-block;
  width: 175px;
  vertical-align: middle;
  margin-left: 25px;
  cursor: pointer;
  opacity: .7;
}

.rightSide {
  display: flex;
  margin-right: 55px;
}

.rightSide p {
  display: line-block;
  margin: 55px;
  cursor: pointer;
  opacity: .7;
}

#home p:hover {
  opacity: 1;
}

.rightSide p:hover {
  opacity: 1;
}

#home::after {
  content: "";
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 36%;
  margin-left: 55px;
  transform: scale(0);
  transition: ease-in-out 300ms;
}

.rightSide p::after {
  content: "";
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 100%;
  transform: scale(0);
  transition: ease-in-out 300ms;
}

#home:hover::after {
  transform: scale(1);
}

.rightSide p:hover::after {
  transform: scale(1);
}

.body-main-page {
  display: flex;
  margin-top: 150px;
  justify-content: space-evenly;
  width: 100vw
}

#body-main-page-left img {
  width: 300px;
  height: 300px;
}

#body-main-page-right {
  width: 50%;

}

#white-space {
  height: 50px;
}

#skills {
  justify-content: space-around;
  align-items: center;
  
}

#skills img {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  display: center;
}

#skills img:hover {
  opacity: 1;
}

#skills p {
  opacity: 0.7;
}

#skills p:hover {
  opacity: 1;
}




.skills-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}


/* Contact Form */


body {
  margin:0;
}
#contact {
  background: center/cover no-repeat url(https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  min-height: 90vh;
  padding: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,0.25)
}
#white-space-contact {
  height: 75px;
}
#contact-flex {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin:0 !important;
  .contact h2 {
  margin-top: 100px;
  text-align: center;
  color: black;
  opacity: 0.6;

}
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 40vw;
}


/* Style inputs with type="text", select elements and textareas */
input {
  width: 100%; /* Full width */
  height: 35px;
  padding: 10px; /* Some padding */ 
  margin: 10px;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  opacity: 0.6;
  cursor: pointer;
} 

textarea {
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  margin: 10px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  opacity: 0.6;
  cursor: pointer;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #8B92B3;
  color: black;
  padding: 19px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  width: 30%;
  height: 7%;
  margin: 10px auto;
  opacity: 0.6;
  transition: 0.3s;
}

/* When moving the mouse over the submit button, add a darker green color */
input:hover, textarea:hover {
  opacity: 1;
} 


/* About Me  */

#about-me {
  height: 90vh;
  border: 4px solid black;
}

#about-me h2 {
  font-weight: 900;
  font-size: 3.0em;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
  margin-bottom: 150px; 
  /* background-color: rgba(0, 0, 0, 0.35); */
  padding: 15px;
  opacity: .8;
  
}

/* Portfolio */

#portfolio {
  border: 4px solid black;
  padding-top: 80px;
}

#portfolio img {
  height: 300px;
  width: 400px;
}

#skills-displayed {
}

#skills-displayed img {
  height: 100px;
  width: 100px;
}

#the-skills {
  display: flex;
  justify-content: space-around;
}

#portfolio-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

#portfolio h2 {
  font-weight: 900;
  font-size: 3.0em;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
  margin-bottom: 150px; 
  /* background-color: rgba(0, 0, 0, 0.35); */
  padding: 15px;
  opacity: .8;
}

#portfolio h3 {
  font-weight: 900;
  font-size: 2.0em;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
  /* margin-bottom: 150px;  */
  /* background-color: rgba(0, 0, 0, 0.35); */
  padding: 15px;
  opacity: .8;
}




/* Testing  */
#name-input, #email-input, #message-input, #submit-button {
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  color: black;
  padding: 0.75rem;
  border: none;
  margin: 1rem auto;
  width: 100%;
  max-width: 400px;
  resize: none;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

#contact-form-2 {
  background: center/cover no-repeat url(https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
